.cate-image {
    width: 70px;
    height: 70px;
}

.form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.order-details label {
    font-size: 14px;
    font-weight: 400;
    color: #212529;
}

.products label {
    font-size: 14px;
    font-weight: 400;
    color: #212529;
}

.order-details div {
    font-size: 16px;
    padding: 5px !important;
    border-radius: 5px;
}
